[buildout]
parts = openerp supervisor tools
allow-picked-versions = false
#show-picked-versions = true

find-links = http://download.gna.org/pychart/
versions = versions

[openerp]
recipe = anybox.recipe.openerp:server
version = nightly 7.0 20130323-002356
addons = local addons
interpreter = python

[supervisor]
recipe = collective.recipe.supervisor
port = 9001
programs =
    10 openerp ${buildout:directory}/bin/start_openerp

[tools]
recipe = zc.recipe.egg
eggs = z3c.checkversions [buildout]

[versions]
Jinja2 = 2.6
MarkupSafe = 0.15
Pillow = 1.7.8
anybox.recipe.openerp = 1.5.1
babel = 0.9.6
collective.recipe.supervisor = 0.19
distribute = 0.6.35
docutils = 0.9.1
feedparser = 5.1.3
gdata = 2.0.17
gp.vcsdevelop = 2.2.3
gunicorn = 0.17.2
jinja2 = 2.6
lxml = 2.3.6
mako = 0.7.3
meld3 = 0.6.10
mock = 1.0.1
psutil = 0.6.1
psycopg2 = 2.4.6
pychart = 1.39
pydot = 1.0.28
pyparsing = 1.5.7
python-dateutil = 1.5
python-ldap = 2.4.10
python-openid = 2.2.5
pytz = 2012j
pywebdav = 0.9.8
pyyaml = 3.10
reportlab = 2.6
simplejson = 3.0.9
supervisor = 3.0b1
unittest2 = 0.5.1
vatnumber = 1.0
vobject = 0.8.1c
werkzeug = 0.8.3
xlwt = 0.7.4
z3c.checkversions = 0.4.1
zc.buildout = 1.7.1
zc.recipe.egg = 1.3.2

