body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 13px;
    font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
    text-align: justify;
    color: #000;
    height: 100%;
    width: 100%;
}
h1, h2, h3 {
    margin: 0.5em;
    text-transform: lowercase;
    font-weight: normal;
    color: #000;
}
img {
    border: none;
}
a:link {
    color: #000;
}
a:hover, a:active {
    text-decoration: none;
    color: #000;
}
a:visited {
    color: #777;
}
#header {
    height: 100px;
}
td {
    vertical-align: top;
    text-align: middle;
}
#logo { float: left; }

div.subcontent {
    background-color: #F0F0F0;
    text-align: middle;
    margin: 1em;
    padding: 1em;
    -moz-border-radius: 0.5em 0.5em;
    -webkit-border-radius: 0.5em 0.5em;
}
#app_form_dynamic div {
    margin: 0.5em 0;
    vertical-align: middle;
}
form div span {
    display: inline-block;
    vertical-align: top;
    width: 8em;
    margin: 0.2em;
}
input, textarea, select {
    width: 15em;
    margin: 0.2em 0;
}
#loading {
    margin: 0.5em;   
}
#message {
    background-color: #ffe57f;
}
#content {
    top: 93px;
    left: 200px;
}

td.demo_title {
    font-size: 120%;
    padding: 0em 1em;
    vertical-align: middle;
}
div.status {
display: inline-block;
padding: 0.5em;
-moz-border-radius: 0.5em;
-webkit-border-radius: 0.5em;
}
div.RUNNING {
    background: #5E5;
}
div.STOPPED {
    background: #E55;
}
div.EXITED {
    background: white;
}
div.SHUTDOWN {
    background: orange;
}
div.STARTING, div.RESTARTING {
    background: #5B5;
}
div.FATAL {
    background: transparent;
    border: solid 0.1em black;
    width: 0.8em;
    height: 0.8em;
}
a.start, a.stop, a.destroy {
    color: black;
    display: inline-block;
    background: #FFF;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0.5em;
    -moz-box-shadow: 1px 1px 1px 1px #737373;
    -webkit-box-shadow: 1px 1px 1px 1px #737373;
}
a.destroy {
    color: red;
}

#user_ID {
    margin: 0.5em;
    float: right;
    text-align: center;
}
#footer {
    text-align: center;
}
