/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
        margin: 0;
        padding: 0;
        background-color: #b2b2ff;
        font-size: 13px;
        font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
        text-align: justify;
        color: #000000;
}

h1, h2, h3 {
        margin: 0;
        text-transform: lowercase;
        font-weight: normal;
        color: #FFFFFF;
}

h1 {
        letter-spacing: -1px;
        font-size: 32px;
}

h2 {
        font-size: 23px;
}

p, ul, ol {
        margin: 0 0 2em 0;
        text-align: justify;
        line-height: 26px;
}

a:link {
        color: #5A55DB;
}

a:hover, a:active {
        text-decoration: none;
        color: #8BD80E;
}

a:visited {
        color: #5A55DB;
}

#message {
        text-align: middle;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 20%;
        margin-right: 20%;
        padding: 2em;
        border-color: #85A5FF;
        -moz-border-radius: 1em 1em;
        background-color: #85A5FF;
}

img {
        border: none;
}

#title{
    width: 100%;
    top: 0;
    background-color: #d9b2ff;
    height: 93;
    font-size: 3em;
}


#demos_list {
        margin: 1em;
        padding: 1em;
        -moz-border-radius: 1em 1em;
        background-color: #BDCEFF;
}

#content {
        position: absolute;
        top: 93px;
        left: 200px;
}

#application_list {
        top: 4em;
        text-align: center;
}

/* Post */

.post {
        padding: 15px 0px;
        margin-bottom: 20px;
}

/* Sidebar */

#sidebar {
        width: 200px;
        margin-left: 0;
        padding: 0;
        background-color: #FFC7B6;
}

#legal {
        clear: both;
        padding-top: 17px;
        text-align: center;
        color: #FFFFFF;
}

#legal a {
        font-weight: normal;
        color: #FFFFFF;
}
